body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  align-items: stretch;
}
  
.container-login{
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
}
.login-box {
  margin-top: 30%;
  margin-left: 35%;
  max-width: 550px;
  width: 50%;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px;
}

.login-box button:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box button.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box button.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}
.image-box {
  flex: 0 0 50%;
  height: 100vh; 
  width: 100vw;
  position: relative;
}

.image-box img {
  position: absolute; 
  right: 0; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.registration-success {
margin-top: 20px;
padding: 10px;
background-color: #dff0d8; /* Couleur de fond verte claire */
color: #3c763d; /* Couleur du texte verte foncée */
border: 1px solid #d6e9c6; /* Bordure verte plus claire */
border-radius: 4px; /* Coins arrondis */
text-align: center; /* Texte centré */
font-size: 1.1em; /* Taille de la police légèrement plus grande */
}

/* Animation pour faire apparaître le message de manière douce */
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

.registration-success {
animation: fadeIn 2s;
}
